@import url("/src/app/styles/reset.scss");
@import url("app/styles/variables/variables.scss");
@import url("app/styles/theme/dark.scss");
@import url("app/styles/theme/lignt.scss");

.app {
  font-family: var(--font-family-main);
  font-size: var(--font-size-l);
  min-height: 100vh;
  background: var(--bg-color);
}

.app-content {
  display: flex;
}

.content-wrapper {
  flex-grow: 1;
}