:root {
  --font-family-main: consolas, "Times New Roman", serif;
  --size-s: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --text-color-primary: #a735f3;
  --text-color-secondary: #e05fe0;
  --text-color-dark: #751bb0;
  --text-color-error: rgb(157 16 16 / 82%);
  --navbar-height: 80px;
  --sidebar-open-width: 250px;
  --sidebar-close-width: 80px;
  --overlay-background: rgba(0 0 0 / 60%);
}
