.size_s {
  font-size: var(--size-s);
}

.size_l {
  font-size: var(--size-l);
}

.size_xl {
  font-size: var(--size-xl);
}

.primary {
  color: var(--inverted-bg);
}

.error {
  color: var(--text-color-error);
}

