.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.content {
  max-width: 60%;
  padding: 20px;
  background: var(--bg-color);
  color: var(--inverted-bg);
  border-radius: 10px;
  transform: scale(.2);
  transition: .3s transform;
}

.openModal {
  opacity: 1;
  z-index: 10;
  pointer-events: all;

  .content {
    transform: scale(1);
  }
}

.closeModal {
  .content {
    transform: scale(.2);
    transition: .3s transform;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--overlay-background);
}
