.button {
  color: var(--primary);
  border: 1px solid var(--inverted-bg);
}

.button.small{
  padding: var(--size-s) var(--size-l);
}

.button.large{
  padding: var(--size-l) var(--size-xl);
}

.button.extraLarge{
  padding: var(--size-xl);
}

.clear {
  border: none;
  outline: none;
  background: transparent;
}

.outline {
  background: transparent;
  color: var(--inverted-bg);
  padding: 10px 20px;
  border: 1px solid var(--inverted-bg);
}

.background {
  background: var(--bg-color);
}

.backgroundInvert {
  background: var(--inverted-bg);
}
