.sidebar {
  width: var(--sidebar-open-width);
  background: var(--inverted-bg);
  height: calc(100vh - var(--navbar-height));
  transition: width .3s;
  position: relative;
}

.close {
  width: var(--sidebar-close-width);
}

.switchers {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lang {
  margin-left: 20px;
}

.collapseBtn {
  position: absolute;
  bottom: 20px;
  right: -40px;
}