.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: var(--size-s);
  color: var(--inverted-bg);
}

.input {
  outline: none;
  border: 1px solid var(--inverted-bg);
  padding: 5px;

  &:focus {
    outline: none;
  }
}