.navBar {
  background: var(--inverted-bg);
  height: var(--navbar-height);
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.link {
  color: var(--primary);
}

.link:first-child {
  margin-left: auto;
  margin-right: 10px;
}
